<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new comment</title>
    <style>
    .errorlist{
        color: red;
    }
    </style>
</head>
<body>
    <h1>Create new comments</h1>
    <form method="post" action="{% url 'create_comments' poll_id %}">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="SAVE">
        
    </form>
</body>
</html>